<!DOCTYPE html>
<html>
  <head>
    <title>PersonInformation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if user_signed_in? %>
       | <%= link_to('logout', destroy_user_session_path, method: :delete) %> | 
       <%= link_to 'Dashboard', root_path %>
    <% end %>
  </body>

</html>
